.form-container {
  margin-top: 50px;
}
.form {
  width: 300px;
  margin: auto;
}
.form-input {
  margin-top: 20px;
  font-size: 16px;
  width: 290px;
  border: 1px solid rgb(204, 192, 192);
  height: 35px;
  line-height: 38px;
  padding: 0 12px;
  border-radius: 0px;
  outline: none;
}

.submit-btn {
  margin-top: 10px;
  width: 90px;
  font-size: 15px;
  color: #fff;
  background: #010205;
  height: 38px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-left: 1px;
}
